<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
    <link rel="stylesheet" type="text/css" href="/post.css">
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p> 
    <p>Author: <%= post.author %> </p>
    <p>Slug: <%= post.slug %> </p>
    <a href="/api/v1/posts/all">Back to Home</a>
  </body>
</html>
